*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

header{
    width:100vw;
    height: 12vh;
    position: fixed;
    z-index: 2;
    background-color: lightgray;
    display:grid;
    grid-template-columns:  repeat(4, 1fr);
    transition: all .3s ease-in-out;

}

header.hidden{
    height:2vh;
    
    
    
}

header.hidden:hover{
    height:12vh;

}

header#leftmenu{
    width: 20vw;
    height: 100vh;
    grid-template-columns: auto;
    grid-template-rows: repeat(4,10rem);

    

}



.menuitem{
    width:100%;
    height: 100%;
    font-size: 2rem;
    display: grid;
    place-items: center;
  
    border-right: 1px solid black;
    transition: 0.3s all ease-in-out;
    
    cursor: pointer;
    


}



.menuitem:hover{
    border-bottom: 6px solid black;
    font-size: 2.4rem;


}

.menuitem.active{
    border-bottom: 6px solid gold;

}

header.hidden .menuitem{
    font-size:0;

}

header.hidden:hover .menuitem{
    font-size: 2rem ;
    }

/* Her er en kommentar */

.page{
    position: fixed;
   
    left:-100vw;
  width:100vw; 
  height:100vh;

  top:0vh;
  overflow: hidden;
  display:grid;
  place-items: center;
  transition: 0.3s 0.3s all ease-in-out;

}

.visible{
    left:0;
    transition: 0.3s all ease-in-out ;
}


.grid{
    display:grid;
    place-items: center;
    width: 50rem;
    height: 50rem;
    
}



#page1{
    background-color: grey;
    grid-template-columns: 1fr 3fr;
}

#page1 div.left{
    background-color: lightblue;
    width: 100%;
    height:100%;
    display:grid;
    place-items:center;

}

#page1 .right{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 5fr 3fr;
}

#page2{
    background-color: aliceblue;
    grid-template-columns: 1fr 1fr;
}
#page2 .left{
    width:100%;
    height: 100%;
    display: grid;
    place-items: center;
    padding: 2rem;
    background-color: aliceblue;
    font-size: 1.5rem;
}
#page2 .right{
    width: 100%;
    height: 100%;
    display: grid;
    
    grid-template-columns: 2fr 5fr 3fr;
}

#image1{
    
    background-image: url(./assets/second\ 2.jpg);
    background-size:cover;
    background-position: center center;
    width: 50vw;
    height: 60vh;
 


    
}


#image{
    
    
    background-image: url(./assets/first\ 1.jpg);
    background-size: cover;
    width: 85vw;
    height: 100vh;
    

}


#page3{
    background-color: black;
    

}




#page4{
    display:grid;grid-template-columns: 1fr 2fr 1fr;
}
.page div{
    width:100%;
    height:100%;
}
.left{
    background-color:black;
}
.center{
    background-color:darkgray;
}
.right{
    background-color:gray;
}


.center{
    background-color:darkgray;
    display:grid;
    grid-template-rows: 1fr 2fr;
}
.center div{
    width:100%;
    height:100%;
    background-size: cover;
    padding:5rem;
}
.center .top{
    display:grid;
    grid-template-columns: 2fr 10fr;
    gap:2rem;
    margin-top:3rem;
}
#imageleft{
    background-image:url(./assets/detective-conan-1.avif)
}
#imageright{
    background-image:url(./assets/9da14a5cfdf1d555a1d27e756300cb26.jpg)
}
#imagebottom{
    background-image:url(./assets/Detective-Conan-Kurogane-no-Submarine-Movie-2nd-Trailer-Previews-Theme-Song-by-Spitz.webp)
}


h1{
    font-family: Raleway;
    color: darkblue;
    text-shadow: 4px 4px 4px whitesmoke;
}

p{
    color: rgb(218, 147, 218);
}
